# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
demoenv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Mac system files
.Spotlight-V100
.Trashes

# PyCharm
.idea/

# Logs
*.log

# Streamlit secrets
.streamlit/secrets.toml 